@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: 33.33333333%;
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #dd2f31;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.cover {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0;
  position: fixed;
  z-index: -1;
  display: none;transition: all, 0.3s; -webkit-transition: all, 0.3s; -moz-transition: all, 0.3s; -ms-transition: all, 0.3s; -o-transition: all, 0.3s;
}
.cover.active {
  opacity: 0.9;
  z-index: 1;
  display: block;
}
.header {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 17px;
  width: 100vw;
}
.header .mobile-logo {
  display: none;
}
.header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.header .container .logo {
  width: 200px;
}
.header .container .logo img {
  width: 100%;
}
.header .container .nav-icon {
  display: none;
}
.header .container .menu {
  margin-left: -50px;
  width: 590px;
}
.header .container .menu ul {
  display: flex;
  justify-content: space-between;
}
.header .container .menu ul .menu-title {
  display: none;
}
.header .container .menu ul li a {
  color: #fff;
}
.header .container .action-button {
  display: flex;
  justify-content: flex-end;
}
.header .container .action-button-item:first-child {
  margin-right: 50px;
  position: relative;
}
.header .container .action-button-item:first-child ::after {
  content: '';
  display: block;
  width: 1px;
  height: 17px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -25px;
}
.header .container .action-button-item:last-child {
  margin-left: 50px;
  position: relative;
}
.header .container .action-button-item:last-child ::after {
  content: '';
  display: block;
  width: 1px;
  height: 17px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -25px;
}
.main-banner {
  max-height: 950px;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
  color: #fff;
}
.main-banner-img {
  background-color: #000;
}
.main-banner-img img {
  width: 100%;
  opacity: 0.6;
}
.main-banner-item {
  position: absolute;
  z-index: 10;
  top: 31%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.main-banner-item .main-banner-content .title {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 20px;
}
.main-banner-item .main-banner-content .title .title-sub {
  margin-top: -9px;
  font-size: 40px;
}
.main-banner-item .main-banner-content .detail {
  font-size: 14px;
  width: 530px;
  line-height: 1.7em;
}
.main-banner-item .main-banner-content .detail:hover {
  cursor: pointer;
}
.main-banner-item .main-banner-content .btn {
  margin-top: 70px;
}
.main-banner-item .main-banner-content .btn a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 47px;
  border: 1px solid #fff;
}
.main-banner-character {
  position: absolute;
  z-index: 9;
  top: 190px;
  right: 18.3%;
  width: 438px;
}
.main-banner-character img {
  width: 100%;
}
.sub-banner {
  margin-top: -78px;
  margin-bottom: 100px;
}
.sub-banner .container .sub-banner-wrap {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
}
.sub-banner .container .sub-banner-wrap .sub-banner-item {
  width: 33.33333%;
  height: 250px;
  overflow: hidden;
}
.sub-banner .container .sub-banner-wrap .sub-banner-item img {
  width: 100%;
}
.sub-banner .container .sub-banner-wrap .sub-banner-item-content {
  background-color: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.sub-banner .container .sub-banner-wrap .sub-banner-item-content .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  padding-top: 20px;
}
.sub-banner .container .sub-banner-wrap .sub-banner-item-content .detail {
  max-width: 290px;
  font-size: 14px;
  color: #777;
  line-height: 1.7em;
  padding-bottom: 32px;
  padding-top: 19px;
}
@media all and (max-width: 1024px) {
  .header .container .menu {
    width: 500px;
  }
  .main-banner-item {
    top: 27%;
    left: 50%;
  }
  .main-banner-item .main-banner-content .title {
    margin-bottom: 30px;
  }
  .main-banner-item .main-banner-content .title .title-sub {
    font-size: 40px;
  }
  .main-banner-item .main-banner-content .detail {
    font-size: 14px;
    width: 500px;
  }
  .main-banner-item .main-banner-content .btn {
    margin-top: 50px;
  }
  .main-banner-item .main-banner-content .btn a {
    font-size: 14px;
  }
  .main-banner-character {
    top: 195px;
    right: 0%;
    width: 320px;
  }
  .sub-banner {
    margin-top: -60px;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item {
    height: 200px;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item-content .detail {
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 12px;
  }
}
@media all and (max-width: 768px) {
  .header {
    position: absolute;
  }
  .header .container .logo {
    position: absolute;
    left: calc(50% - 100px);
  }
  .header .container .nav-icon {
    font-size: 30px;
    display: block;
  }
  .header .container .menu {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    background-color: #dd2f31;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 50vw;
  }
  .header .container .menu ul {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .header .container .menu ul .menu-title {
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .header .container .menu ul li {
    font-size: 14px;
    height: 16.6666%;
    border-bottom: 1px solid #fff;
  }
  .header .container .menu ul li:last-child {
    border-bottom: 0;
  }
  .header .container .menu ul li a {
    padding-left: 20px;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .header .container .active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .main-banner-item {
    top: 23%;
    left: 50%;
  }
  .main-banner-item .main-banner-content .title {
    margin-bottom: 0;
  }
  .main-banner-item .main-banner-content .title .title-sub {
    font-size: 30px;
  }
  .main-banner-item .main-banner-content .detail {
    font-size: 14px;
    width: 460px;
  }
  .main-banner-item .main-banner-content .btn {
    margin-top: 50px;
  }
  .main-banner-item .main-banner-content .btn a {
    font-size: 14px;
  }
  .main-banner-character {
    top: 120px;
    right: -5%;
    width: 320px;
  }
  .sub-banner {
    margin-top: -60px;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item {
    height: 150px;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item-content .title {
    padding-top: 7px;
    font-size: 12px;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item-content .detail {
    font-size: 10px;
    padding-bottom: 10px;
    padding-top: 0;
  }
}
@media all and (max-width: 576px) {
  .header {
    position: absolute;
  }
  .header .mobile-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
  }
  .header .mobile-logo img {
    width: 50%;
  }
  .header .container .logo {
    display: none;
  }
  .main-banner-item {
    top: 54%;
    left: 50%;
  }
  .main-banner-item .main-banner-content .title {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
  .main-banner-item .main-banner-content .title .title-sub {
    font-size: 18px;
  }
  .main-banner-item .main-banner-content .detail {
    font-size: 7px;
    width: 300px;
  }
  .main-banner-item .main-banner-content .btn {
    margin-top: 15px;
  }
  .main-banner-item .main-banner-content .btn a {
    font-size: 14px;
    padding: 7px 20px;
  }
  .main-banner-character {
    top: 200px;
    right: 5%;
    width: 200px;
  }
  .sub-banner {
    margin-top: 15px;
  }
  .sub-banner .container .sub-banner-wrap {
    border-bottom: 1px solid #dd2f31;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item {
    height: 180px;
    width: 50%;
  }
  .sub-banner .container .sub-banner-wrap .sub-banner-item-content .detail {
    font-size: 10px;
    padding-bottom: 20px;
    padding-top: 12px;
    max-width: 200px;
  }
  .sub-banner .container .sub-banner-wrap:last-child {
    border-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */