.footer {
    width: 100%;
    background-color: @background-color;
    &-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-img {
            width: 200px;
        }
        &-content {
            width: 700px;
            color: @main-gray-color;
        }
        &-icon {
            ul {
                display: flex;
                li {
                    a {
                        color: @main-gray-color;
                    }
                }
            }
        }
    }
}