@media all and (max-width:1200px) {
    
}

@media all and (max-width:1024px) {
    .header {
        .container {
            .menu {
                width: 500px;
            }
        }
    }
    .main-banner {
        &-item {
            top: 27%;
            left: 50%;
            .main-banner-content {
                .title {
                    margin-bottom: 30px;
                    .title-sub {
                        font-size: 40px;
                    }
                }
                .detail {
                    font-size: 14px;
                    width: 500px;
                }
                .btn {
                    margin-top: 50px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        &-character {
            top: 195px;
            right: 0%;
            width: 320px;
        }
    }
    .sub-banner {
        margin-top: -60px;
        .container {
            .sub-banner-wrap {
                // height: 400px;
                .sub-banner-item {
                    height: 200px;
                    &-content {
                        .detail {
                            font-size: 10px;                 
                            padding-bottom: 20px;
                            padding-top: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:768px) {
    .header {
        position: absolute;
        .container {
            .logo {
                position: absolute;
                left: calc(50% - 100px);
            }
            .nav-icon {
                font-size: 30px;
                display: block;
            }
            .menu {
                .transform(translateX(-100%));
                .transition(all, .3s);
                background-color: @main-red-color;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                height: 100vh;
                width: 50vw;
                ul {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .menu-title{
                        display: block;
                        padding: 20px 0 0 0;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                    li {
                        font-size: 14px;
                        height: 16.6666%;
                        border-bottom: 1px solid @main-white-color;
                        &:last-child {
                            border-bottom: 0;
                        }
                        a {
                            padding-left: 20px;
                            display: block;
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            .active {
                .transform(translateX(0));
            }
        }
    }
    .main-banner {
        &-item {
            top: 23%;
            left: 50%;
            .main-banner-content {
                .title {
                    margin-bottom: 0;
                    .title-sub {
                        font-size: 30px;
                    }
                }
                .detail {
                    font-size: 14px;
                    width: 460px;
                }
                .btn {
                    margin-top: 50px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        &-character {
            top: 120px;
            right: -5%;
            width: 320px;
        }
    }
    .sub-banner {
        margin-top: -60px;
        .container {
            .sub-banner-wrap {
                // height: 300px;
                .sub-banner-item {
                    height: 150px;
                    &-content {
                        .title {
                            padding-top: 7px;
                            font-size: 12px;
                        }
                        .detail {
                            font-size: 10px;                 
                            padding-bottom: 10px;
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:576px) {
    .header {
        position: absolute;
        .mobile-logo{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50%;
            }
            padding: 20px 0 0 0;
        }
        .container {
            .logo {
                display: none;
            }
        }
    }
    .main-banner {
        &-item {
            top: 54%;
            left: 50%;
            .main-banner-content {
                .title {
                    font-size: 30px;
                    padding-bottom: 0;
                    margin-bottom: 5px;
                    .title-sub {
                        font-size: 18px;
                    }
                }
                .detail {
                    font-size: 7px;
                    width: 300px;
                }
                .btn {
                    margin-top: 15px;
                    a {
                        font-size: 14px;
                        padding: 7px 20px;
                    }
                }
            }
        }
        &-character {
            top: 200px;
            right: 5%;
            width: 200px;
        }
    }
    .sub-banner {
        margin-top: 15px;
        .container {
            .sub-banner-wrap {
                border-bottom: 1px solid @main-red-color;
                .sub-banner-item {
                    height: 180px;
                    width: 50%;
                    &-content {
                        .detail {
                            font-size: 10px;                 
                            padding-bottom: 20px;
                            padding-top: 12px;
                            max-width: 200px;
                        }
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

@media all and (max-width:375px) {
}