.comment {
    margin: 85px 0 122px 0;
    .strength-title {
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 16px;
    }
    // .slick-dots li.slick-active button:before
    .strength {
        &.slick-initialized{
            height: 300px;
            .slick-prev {
                left: 0;
            }
            .slick-next {
                right: 0;
            }
            .slick-dots {
                li.slick-active {
                    button {
                        &::before {
                            color: @main-red-color;
                        }
                    }
                }
                li {
                    width: 10px;
                    button {    
                        &:hover{
                            &::before {
                                color: @main-red-color;
                            }
                        }
                        &::before {
                            left: -5px;
                            top: 2px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-avatar {
                align-self: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 22px;
                img{
                    width: 300%;
                    margin-left: -70px;
                }
            }
            &-comment {
                width: 68%;
                font-size: 18px;
                color: @slider-gray;
                text-align: center;
                line-height: 1.667;
                margin-bottom: 26px;
            }
            &-name {
                text-align: center;
                .name {
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 8px;
                }
                .title {
                    font-size: 14px;
                    // margin-bottom: 150px;
                    color: @slider-gray;
                }
            }
        }
    }
}
//BRAND
.brand {
    .container {
            .brand-list {
                border-top: 1px solid @slider-gray;
                .row {
                    .brand-item {
                        .cols(16.6667%);
                        padding: 35px 0 35px 0;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        
    }
}